<div class="container">
    <h1>Portfolio Home</h1>

    <div style="width: 20%;">
        <h4>Day Gainers:</h4>
        <ul style="padding-left: 0px;">
            <li *ngFor="let stock of stockInfoList" class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{stock.symbol}}</div>
                    {{stockNames[stock.symbol]}}
                </div>
                <span style="font-size: medium;" class="badge bg-success">&#8593; {{stockPercents[stock.symbol]}}</span>
            </li>
        </ul>
    </div>
    <hr>
    <div style="width: 20%;">
        <h4>Day Losers:</h4>
        <ul style="padding-left: 0px;">
            <li *ngFor="let stock of stockInfoListLosers" class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold">{{stock.symbol}}</div>
                {{stockNames[stock.symbol]}}
                </div>
                <span style="font-size: medium;" class="badge bg-danger">&#8595; {{stockPercents[stock.symbol]}}</span>
                </li>
        </ul>
    </div>
</div>