
<div class="container">
    <h1>Investments</h1>
    <h4 style="color: darkgray;">Total: {{ totalInvestments | currency }}</h4>
    <br>
        
    <form [formGroup]="form">    
        <div class="form-group">
            <!-- <label for="option">Select an Account:</label> -->
            <select formControlName="option" class="form-select">
                <option [value]="">All Investment Accounts</option>
                <ng-container *ngFor="let account of investmentAccounts; let i = index">
                    <option [value]="i">{{ account.investmentaccname }} #{{ account.investmentaccountid}}</option>
                </ng-container>
            </select>
            <br>
        </div>
    </form>

    <div *ngIf="investmentAccount && investmentAccount.investmentaccname">
        <h3 >{{investmentAccount.investmentaccname}} #{{ investmentAccount.investmentaccountid}}</h3>
    </div >
    
    <div *ngIf="!investmentAccount || !investmentAccount.investmentaccname">
        <h3 >All Investment Accounts</h3>
        <app-line-chart [data]="data" [labels]="labels"></app-line-chart>
    </div>
    
</div>
