<h5>Investments</h5>

<!-- <p>Total: {{getTotalInvestments() | currency}}</p> -->
<div>
    <p>List of Accounts</p>
</div>
<p>Total: {{investmentAccounts | currency }}</p>

    
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
                
        <div class="form-group">
            <label for="option">Select Option to View:</label>
            <select formControlName="option" class="form-control">
                <option disabled>Select Option</option>
                <option *ngFor="let account of investmentAccounts">{{ account.investmentaccname }}</option>
            </select>
        </div>
        <br>
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid" click = 'cashNext()'>Submit</button>
    
        
    </form>
    

<app-line-chart [data]="data" [labels]="labels"></app-line-chart>