
<div class="container">
    <h1>Cash Account Information</h1>
     
    <ng-container *ngIf= 'submitClicked'>
    <form [formGroup]="form" (ngSubmit)="submit()">
            
        <div class="form-group">
            <label for="option">Select Option to View:</label>
            <select formControlName="option" class="form-control">
                <option disabled>Select Account</option>
                <option > Choose Account</option>
                <option *ngFor="let option of acctNames">{{option}}</option>
            </select>
        </div>
        <br>
        <button class="btn btn-primary" (click)='submit()'>Submit</button>
    </form>
</ng-container>
<ng-container *ngIf= 'backClicked'>
    <p>Account Name: {{accountName}}</p>
    <p>Account ID: {{accountId}}</p>
    <p>Account Type: {{accountType}}</p>
    <p>Account Funds: $ {{accountFunds}}</p>
    <br>
    <button class="btn btn-primary" (click)='back()'>Back</button>
</ng-container>
</div>