
<div class="container">
    <h1>Cash Account Information</h1>
         
    <form [formGroup]="form" (ngSubmit)="submit()">
            
        <div class="form-group">
            <label for="option">Select Option to View:</label>
            <select formControlName="option" class="form-control">
                <option disabled>Select Option</option>
                <option *ngFor="let option of optionList">{{option}}</option>
            </select>
        </div>
        <br>
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid" click = 'cashNext()'>Submit</button>
   
        
    </form>
</div>