
<div class="container">
    <h1>Cash Account Information</h1>
    <h4 style="color: darkgray;">Total: {{ totalCash | currency }}</h4>
    <br>

    <form [formGroup]="form">    
        <div class="form-group">
            <!-- <label for="option">Select an Account:</label> -->
            <select formControlName="option" class="form-select">
                <option [value]="">All Cash Accounts</option>
                <ng-container *ngFor="let account of cashAcct; let i = index">
                    <option [value]="i">{{ account.cashaccname }} #{{ account.cashaccountid}}</option>
                </ng-container>
            </select>
            <br>
        </div>
    </form>
     
   
    <br>
    <div *ngIf="acct && acct.cashaccname">
        <h3>Account Name: {{acct.cashaccname}}</h3>
        <h3>Account ID: {{acct.cashaccountid}}</h3>
        <h3>Account Type: {{acct.accounttype}}</h3>
        <h3>Account Funds: $ {{acct.funds}}</h3>
    </div >

<div *ngIf="!acct || !acct.cashaccname">
    <h2 >All Cash Accounts</h2>
    <app-cash-chart [data]="data" [labels]="labels"></app-cash-chart>
</div>

</div>